/* Start: CSS reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/* End: CSS reset */

/* Variables */
:root {
  --bg-color-mobile: #cdb4db;
  --bg-color-tablet: #fff1e6;
  --bg-color-laptop: #52b788;
  --bg-color-desktop: #bee1e6;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#size {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

/* Small devices */
@media only screen and (max-width: 768px) {
  .container {
    background-color: var(--bg-color-mobile);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    background-color: var(--bg-color-tablet);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    background-color: var(--bg-color-laptop);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    background-color: var(--bg-color-desktop);
  }
}